<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlexScreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <FlexScreen.Properties.Settings>
            <setting name="CursorColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="SelectionColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="LineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="FillColor" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="AutoSaveAsk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CursorOpacity" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="SelectionOpacity" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="LineWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FillTransparency" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="TextWithBorder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextFont" serializeAs="String">
                <value>Microsoft Sans Serif, 12pt, style=Bold</value>
            </setting>
            <setting name="AutomaticallyCrop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AfterCaptureStayOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TransparentWhenNotFocused" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FormTransparencyFactor" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="KeepMenuOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddBorderToPastedImages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DrawingTips" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartImageEditorOnSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartCaptureOnClickOnTrayIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SuppressStartUpHelp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyToAll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PasteImagesWithBorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoHideMenu" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureFromTryIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoToolTips" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="OptionFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AutoSaveProjectFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ImagesDirectory" serializeAs="String">
                <value>Images</value>
            </setting>
            <setting name="DefaultDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SplashScreenBounds" serializeAs="String">
                <value>10, 10, 10, 10</value>
            </setting>
        </FlexScreen.Properties.Settings>
    </userSettings>
</configuration>
